@use "@styles/" as *;

.PokemonCard {
  width: 25%;
  height: 30vw;
  margin: 0.5rem;
  border: none;
  border: 1px solid $base-color;
  border-radius: 0.75rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-color: #253238;
  color: #fff;

  p {
    width: 100%;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    text-align: end;
    background-color: $base-color;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
  }
  .pokemon-image-wrapper {
    width: 80%;
    height: 80%;
    padding: 0.5rem;
    box-sizing: border-box;
    img {
      @include full-frame();
    }
    .loading {
      width: 100%;
      height: 100%;
      @include center();
      span {
        font-weight: bold;
      }
    }
  }
  .pokemon-name-wrapper {
    width: 100%;
    flex-grow: 1;
    @include center();
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
    .pokemon-name {
      font-weight: bold;
      color: #fff;
    }
  }
}
