@use "../../styles/" as *;

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 0.5rem 2rem;
}

.noPokemon {
  width: 100%;
  font-size: 3rem;
  text-align: center;
  padding: 2rem 1rem;
}

.loading {
  @include center-row();
  background-color: #fff;
  color: $base-color;
  width: 100%;
  height: 5rem;
  font-weight: bold;
  font-size: 3rem;
}
