@use "@styles/" as *;

.descriptionModal {
  @include full-frame();
  @include center-row();

  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 2;
  .modal {
    background-color: #fff;
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .modalHeader {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .closeButton {
        font-size: 1.2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .description {
      @include center-col;
      height: 50vh;
      p {
        font-size: 1.3rem;
      }
    }
  }
}
