@use "./utils/" as *;
html {
  margin: 0;
  padding: 0;
}

body {
  @include full-frame();
  min-width: 375px;
}

.button {
  background-color: $base-color;
  border: 1px solid $base-color;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1rem;
}

.button-wrapper {
  width: 100%;
  @include center();
}

@media screen and (max-width: 50rem) {
  body {
    font-size: 12px;
  }

  .MainPage {
    width: 100%;
  }

  .login-image {
    display: none;
  }

  .pokemon-name {
    font-size: 0.5rem;
  }

  .main-image {
    width: 15rem !important;
    height: 15rem !important;
  }

  .search-data-wrapper {
    width: 60% !important;
    .pokemon-search {
      font-size: 0.5rem;
      padding: 0.1rem 0.2rem !important;
      text-align: center;
    }
  }
}
