@mixin center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin full-frame {
  width: 100%;
  height: 100%;
}

@mixin box($size) {
  width: $size;
  height: $size;
}
