@mixin center-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin full-frame {
  width: 100%;
  height: 100%;
}

@mixin box($size) {
  width: $size;
  height: $size;
}

$break: 768px;

@mixin mobile {
  @media (max-width: ($break - 1)) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: $break) {
    @content;
  }
}
