@use "@styles/" as *;

.DamageModal {
  @include full-frame();
  @include center-row();

  position: absolute;
  backdrop-filter: blur(5px);
  z-index: 2;
  .modal {
    background-color: #fff;
    width: 50%;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .modalHeader {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      .closeButton {
        font-size: 1.2rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .relation {
      width: 100%;
      @include center-col();
      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: lightgray;
      }
      .typeContainer {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
      }
    }
  }
}
