@use "@styles/" as *;

.Header {
  width: 100%;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  @include box(3rem);
  cursor: pointer;
}
