@use "../../styles/" as *;

.detailPage {
  background-color: $base-color;
  width: 100%;
  min-height: 100vh;
}

.typeBackground {
  @include mobile {
    height: 10rem;
  }
  @include desktop {
    height: 20rem;
  }
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  .back {
    color: #fff;
    height: 1.2rem;
    cursor: pointer;
  }
  h1 {
    margin: 0;
    color: #fff;
    @include mobile {
      font-size: 8rem;
      position: absolute;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      padding: 1rem;
    }
    @include desktop {
      font-size: 25rem;
      height: 100%;
    }
    @include center-row;
  }
  span {
    color: #fff;
    height: 1.2rem;
  }
}

.mainImage {
  @include mobile {
    @include box(15rem);
    top: 12.5rem;
  }
  @include desktop {
    @include box(25rem);
    top: 17.5rem;
  }
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  cursor: pointer;
}

.infoContainer {
  background-color: $base-color;
  position: absolute;
  @include mobile {
    top: 20rem;
  }
  @include desktop {
    top: 30rem;
  }
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}

.loading {
  background-color: $base-color;
  width: 100%;
  min-height: 100vh;
  @include center-row();
  h1 {
    color: #fff;
    font-size: 3rem;
  }
}
