@use "@styles/" as *;

.BaseStat {
  color: #fff;
  .name,
  .gauge,
  .max {
    padding: 0.5rem;
  }
  .gauge {
    .fullGauge {
      width: 10rem;
      height: 0.5rem;
      background-color: gray;
      border-radius: 0.5rem;
      .statGauge {
        height: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
  .value {
    padding: 0 1rem;
  }
}
