@import "../../styles/global.scss";

.PokemonSearchForm {
  width: 50vw;
  height: 60px;
  position: fixed;
  transform: translateX(-25vw);
  top: 0;
  left: 50%;
  z-index: 15;

  display: flex;
  justify-content: center;
  align-items: center;
  .search-data-wrapper {
    width: 50%;
    height: 50%;
    .pokemon-search {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 0.25rem 1rem;
      background-color: $base-color;
      color: #fff;
      border: 1px solid $base-color;
      border-radius: 0.5rem;
      outline: none;
    }
    ul {
      position: absolute;
      max-height: 15rem;
      overflow: scroll;
      border-radius: 0.5rem;
      li {
        background-color: $base-color;
        color: #fff;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
      }
      li:hover {
        background-color: #fff;
        color: $base-color;
      }
    }
  }
}
